
// Kolory podstawowe
$light-theme: (
  'btn-bg': #f0f0f0,
  'btn-text': #333,
  'btn-hover': #e0e0e0,
);

$dark-theme: (
  'btn-bg': #2d2d2d,
  'btn-text': #fff,
  'btn-hover': #404040,
);

$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px
);

// COLORS

$text_color: whitesmoke;
$mainColor: rgb(10, 15, 61);
$secondMainColor: rgba(14, 22, 92, 0.1);
$mainColor-shadows: rgba(66, 13, 102, 0.6);
$backgrounColor: #6b5cc4;
$separateColor: black;
$specialColor: #4E187F;
$errColor: rgb(170, 83, 68);

// NAV

$navColor: rgb(10, 15, 61);
$navHeight:60px;
$nav_fontSize: 4rem;

// NAV_PANEL

$panelBorder: 12px;
$hoverPanel: #331f7a;
$strikePanelColor: #331f7a;

// Fonts
$mainTitleFontSize: 1.8rem;
$titleFontSize: 1.6rem;
$textFontSize: 1.3rem;
// TASKS

$TasksFontSize1: 3.2rem;
$TasksFontSize2: 2.0rem;
$TasksFontSize3: 1.2rem;
$TasksBoardColor: #82BBE9


