@import "variables";

.big-panel {
    /* Panel główny z półprzezroczystym tłem i gradientem */
    width: 100%;
    padding: 2rem;
    margin: 1rem auto;
    text-align: center;
    /* Gradient + transparentne tło */

    backdrop-filter: blur(8px);
    border-radius: 12px;

    &__title {
        font-size: $mainTitleFontSize;
        margin-bottom: 1.5rem;
        color: #fff; /* Dostosuj kolor w zależności od swojego tła */
    }

    &__grid {
        /* Responsywna siatka */
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(220px, 11fr));
        gap: 1rem;
        grid-auto-rows: min-content;
        padding-left: 1rem;
        padding-right: 1rem;
        .miniPanel {
            min-width: 100%;
            padding: 1rem;
            margin: 1rem 0;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            max-height: 300px;
            background: linear-gradient(
                to bottom right,
                $mainColor,
                $secondMainColor
            );
            backdrop-filter: blur(8px);
            border-radius: $panelBorder;
            h2 {
                span{
                    font-size: $TasksFontSize2;
                    // font-size: $textFontSize;
                }
            }
            .line{
                width: 80px;
                height: 1px;
                background-color: $text_color;
                margin-bottom: 1rem;
            }
        }
    }
}
@media (min-width:500px){

.big-panel {
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        gap: 1rem;
        grid-auto-rows: min-content;
    }
}

}