@import 'variables';

.button {
    width: 100%;
    height: 100%;
    height: 25px;
    border: none;
    border-radius: $panelBorder;
    font-size: $textFontSize;
    color: $text_color;
}
.blue {
    background-color: $mainColor;
}
.violet{
    background-color: $specialColor; 
}
.red{
    width: 30px;
    background-color: $errColor;
}