@import 'variables';
.task-list {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    &-table {
        margin-top: 2rem;
        width: 100%;
        border-collapse: collapse;
        &-thead {
            tr {
                padding-bottom: 1em;
                th {
                    font-size: 1rem;
                    font-size: $textFontSize;
                }
            }
        }
        &-tbody {
            .title {
                margin: 0 auto;
                height: 100%;
                p{
                    font-size: $titleFontSize;
                    margin: 0 auto;
                }
            }
            // .list{
            // }
            .list-btn {
                display: flex;
                gap: 0.5rem; // Odstęp między przyciskami
                padding-left: 1em;
                padding-right: 1em;
                align-items: center;
                justify-content: flex-start; // Ustawienie do lewej strony
            }

            tr {
                td {
                    padding: 0.2rem;
                    p {
                        width: 100px;
                        padding: 0;
                    }
                }
            }
        }
    }
}
