// COLORS

$text_color: whitesmoke;
$mainColor: rgb(10, 15, 61);
$secondMainColor: rgba(14, 22, 92, 0.1);
$mainColor-shadows: rgba(66, 13, 102, 0.6);
$backgrounColor: #B4DFF6;
$separateColor: black;
$specialColor: #4E187F;
$errColor: rgb(170, 83, 68);

// NAV

$navColor: rgb(10, 15, 61);
$navHeight:60px;
$nav_fontSize: 4rem;

// NAV_PANEL

$panelBorder: 12px;
$hoverPanel: #B898E8;
$strikePanelColor: #6aa8ce;

// TASKS

$TasksFontSize1: 2.6rem;
$TasksFontSize2: 2.0rem;
$TasksFontSize3: 1.2rem;
$TasksBoardColor: #82BBE9

